{{!-- <div>
    <h1>Hola {{name}}, estos son todos los usuarios: </h1>
    <!-- Podemos usar condicionales -->
    {{#if IsAdmin}}
    <!-- El interador Each me va a permitir recorrer todos los elementos de mi array -->
    {{#each users}}
    <div>
        <p>{{this.name}} {{this.lastName}}</p>
    </div>
    <!-- Tengo que cerrar mi iterador cuando termine de usarlo-->
    {{/each}}
    {{else}}
    <p>No tienes permiso para ingresar </p>
    <!-- Tambien tenemos que cerrar le if cuando terminemos de usarlo -->
    {{/if}}
</div> --}}
